.vs/
.vs/Code/v17/Browse.VC.db
.vs/Code/v17/Browse.VC.db-shm
.vs/Code/v17/Browse.VC.db-wal
.vs/Code/v17/Browse.VC.opendb
.vs/Code/v17/.wsuo
.vs/Code/FileContentIndex/f7fae515-272f-451c-9ed0-f2c60b1df92d.vsidx
.vs/Code/FileContentIndex/55a72a4b-6ee4-46c6-818e-cc8737ff5b5b.vsidx
.vs/slnx.sqlite
*.sqlite
.vs/slnx.sqlite
*.sqlite
.vs/slnx.sqlite
.vs/*
.vs/slnx.sqlite
*.sqlite
*.pyc
